/*
Paleta de Cores


Outer Space
#1f302e

Regent Gray
#7b949e

Sirocco
#778584

Smalt Blue
#4c8582

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap");

html,
body {
  height: 100%;
  background-color: #1f302e;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("/assets/img/login_back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif !important;
}

.formulario-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.formulario-login .checkbox {
  font-weight: 400;
  color: white;
}

.formulario-login .form-group:focus-within {
  z-index: 2;
}

.formulario-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.formulario-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main ::placeholder {
  color: black;
}

main h1 {
  margin: auto;
  text-align: center;
  color: white;
  font-family: "Chakra Petch" !important;
}

main h1 span {
  color: red;
  font-size: larger;
  text-transform: uppercase;
}

main p {
  color: white;
  text-align: center;
}

.btn {
  background: red;
  text-transform: uppercase;
}

.btn:hover {
  background: rgb(128, 11, 11);
}
